<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.TryBest.Paint</key>
	<dict>
                <key>7.15.3</key>
                <true/>
		<key>turn-off-log</key>
		<false/>
		<key>disable-core-svg-framework</key>
		<false/>
		<key>enable-three-year-full-version</key>
                <false/>
		<key>disable-two-year-full-version</key>
                <false/>
		<key>disable-one-month-full-version</key>
                <false/>
		<key>enable-backup-receipt</key>
                <false/>
                <key>AllowChooseForFirstPurchase</key>
                <true/>
                <key>UseDefaultFullVersion</key>
                <false/>
		<key>AllowOneMonthIAPForFirstPurchase</key>
                <true/>
                <key>DefaultSelectedIAPId</key>
                <string>SubscribeOneYearMemberShip</string>
		<key>ShowPriceInUpgradeWindow</key>
		<false/>
		<key>ConfirmBeforePurchase</key>
		<false/>
		<key>ShowFullVersionValidateDuration</key>
                <true/>
		<key>ShowOneYearMembershipValidateDuration</key>
                <true/>
		<key>discount</key>
		<dict>
			<key>showNormalDiscount</key>
			<true/>
			<key>disable-highlight-lifetime</key>
			<false/>
  			<key>LifetimeFullVersion</key>
  			<dict>
    				<key>discount</key>
    				<string></string>
    				<key>startDate</key>
    				<string></string>
    				<key>endDate</key>
    				<string>2024-12-30 00:00:00</string>
  			</dict>
  			<key>ThreeYearFullVersion1</key>
			<dict>
			    	<key>discount</key>
			    	<string></string>
			    	<key>startDate</key>
			    	<string></string>
			    	<key>endDate</key>
			    	<string></string>
			</dict>
		  	<key>TwoYearFullVersion</key>
		  	<dict>
				<key>discount</key>
				<string></string>
				<key>startDate</key>
				<string></string>
				<key>endDate</key>
				<string>2024-12-30 00:00:00</string>
		  	</dict>
		  	<key>SubscribeOneYearMemberShip</key>
		  	<dict>
				<key></key>
				<string></string>
				<key></key>
				<string></string>
				<key></key>
				<string></string>
		  	</dict>
		  	<key>OneMonthMemberShip</key>
		  	<dict>
				<key></key>
				<string></string>
				<key></key>
				<string></string>
				<key></key>
				<string></string>
		  	</dict>
		</dict>
	</dict>
	<key>com.TryBest.PaintPadLite</key>
        <dict>
                <key>7.9.1</key>
                <true/>
		<key>ShowPriceInUpgradeWindow</key>
                <true/>
		<key>ConfirmBeforePurchase</key>
                <false/>
        </dict>
</dict>
</plist>
